.scoreboardContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: #ffff;
    gap: 2rem;
    padding-top: 2rem ;
}

.scoreboardContainer h1 {
    font-size: 5rem;
    text-shadow: -10px 0 0 #00246B;
}

.scoreboard {
    display: flex;
}

.user {
    width: 15rem;
    border-bottom: 1px solid #ffff;
    display: flex;
    justify-content: center;
}

.user h2 {
    font-size: 3rem;
    display: flex;
    align-items: end;
}

.scoreboardNumber h2{
    display: flex;
    align-items: center;
    font-size: 6rem;
    font-weight: 900;
}